name: mapa
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.4.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_map: ^7.0.2
  latlong2: ^0.9.0
  flutter_map_geojson: ^1.0.6
  flutter_map_cancellable_tile_provider: ^3.0.2
  geolocator: ^13.0.1
  provider: ^6.1.5+1
  flutter_secure_storage: ^9.2.4
  http: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
