# RELATÓRIO DE VALIDAÇÃO COM PÚBLICO-ALVO

## Validação com Público-Alvo

### 1. Identificação específica do público-alvo

O público-alvo é a Oficina Automotiva Jardel Car, localizada na rua Cosme Jerônimo, nº 1259, bairro Aracapé, cidade de Fortaleza. Trata-se de uma pequena empresa que tem a necessidade de descartar materiais sem uso e recicláveis de forma correta.

### 2. Contato e apresentação do projeto

A nossa equipe desenvolveu um Sistema Multiplataforma chamado **EcoMapa Fortaleza**, voltado para informar e conscientizar a população sobre o descarte correto de lixo, reunindo em um só lugar dados de pontos de coleta, turnos de coleta, clima e qualidade do ar.

Esse sistema pode ser utilizado tanto por pessoas físicas quanto jurídicas, que tenham interesse e desejam realizar o descarte correto de lixo, principalmente reciclável, de modo a contribuir para a sustentabilidade e economia verde da cidade.

Para a validação, escolhemos um pequeno negócio local, uma oficina automotiva, cujo proprietário Jardel Carlos necessita descartar materiais que possam ser reciclados e, portanto, tem interesse em saber quais pontos de coleta existem próximos ao endereço da sua empresa.

Após o projeto ficar pronto, apresentamos o sistema à **Antonia Elionadia Vieira Asevedo**, administradora da empresa, através de uma vídeo chamada no Google Meeting (conforme as imagens abaixo) e explicamos toda a funcionalidade da aplicação. Ela realizou o teste do sistema e depois preencheu o formulário de feedback.

### 3. Documentação do feedback recebido

Para a coleta do feedback, aplicamos um formulário através do **Google Forms** que foi preenchido pelo público-alvo e segue em anexo neste documento.

### 4. Ajustes implementados

Não houve ajustes implementados, uma vez que o nosso público-alvo demonstrou estar totalmente satisfeito com as funcionalidades do sistema, como pode ser observado na documentação do feedback.